/*-- scss:defaults --*/
// Base document colors
$content-padding-top: 0px;
$spacer: 1rem;


@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');
$background: #fffffb;
$accent: #ff6b6c;
$otherAccent: #ffc145;
$darkBackground: #5b5f97;


@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');
$background: #fffffb;
$accent: #ff6b6c;
$otherAccent: #ffc145;
$darkBackground: #5b5f97;




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#login-container {
  height: 100px;
  width: 300px;
  padding: 20px;
  margin-left: 7.5px;
  border-radius: 5px;
  background: $background;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  background-color: rgba(45,20,26,255);
  .profile-img {
    height: 75px;
    width: 75px;
    // background: url('./pfp/Anita.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }
  h1 {
    font-family: 'Sriracha', arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: $otherAccent;
  }
  .description{
    font-family: "EastSeaDokdo";
    color: white;
    font-size: 25px;
    margin-bottom: 0px;
    margin-left: 35px;
    line-height: 1em;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

  }
}



.clue-name{
font-size: 20px;
text-align: center;
margin-bottom: 0px;
// margin-top: 10px;
line-height: 0.5em;
position: relative;
}

.clue-desc{
font-size: 12px;
text-align: center;
line-height: 1em;
}


@font-face {
  font-family: 'EastSeaDokdo';
  src: URL('images/EastSeaDokdo-Regular.ttf') format('truetype');
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
  // 100% {
  //   background-position: 0% 50%;
  // }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
  // 100% {
  //   background-position: 0% 50%;
  // }
}